{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "4 \U6708",
                "5 \U6708",
                "6 \U6708",
                "7 \U6708"
            );
            RowNames =             (
                "\U5730\U5340 1",
                "\U5730\U5340 2"
            );
        };
    };
    Model =     {
    };
}