{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                4,
                0
            ),
                        (
                3,
                4,
                7,
                2
            ),
                        (
                5,
                5,
                8,
                4
            ),
                        (
                6,
                8,
                11,
                6
            ),
                        (
                8,
                13,
                14,
                8
            ),
                        (
                9,
                16,
                15,
                12
            ),
                        (
                11,
                18,
                17,
                15
            ),
                        (
                12,
                20,
                20,
                18
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708",
                "\U4e03\U6708"
            );
            RowNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708",
                "\U4e03\U6708",
                "\U516b\U6708",
                "\U4e5d\U6708",
                "\U5341\U6708",
                "\U5341\U4e00\U6708"
            );
        };
    };
    Model =     {
    };
}