{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20,
                0,
                12,
                30,
                100
            ),
                        (
                3,
                4,
                34,
                11,
                21,
                38,
                88
            ),
                        (
                5,
                5,
                12,
                19,
                30,
                20,
                76
            ),
                        (
                6,
                8,
                50,
                26,
                28,
                17,
                64
            ),
                        (
                8,
                13,
                70,
                33,
                38,
                24,
                52
            ),
                        (
                9,
                16,
                35,
                40,
                57,
                31,
                40
            ),
                        (
                11,
                18,
                68,
                70,
                66,
                23,
                28
            ),
                        (
                12,
                20,
                22,
                51,
                75,
                15,
                16
            ),
                        (
                15,
                24,
                35,
                40,
                99,
                6,
                10
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U533a\U57df 1",
                "\U533a\U57df 1",
                "\U533a\U57df 1",
                "\U533a\U57df 2",
                "\U533a\U57df 2",
                "\U533a\U57df 3",
                "\U533a\U57df 3"
            );
            RowNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708",
                "\U4e03\U6708",
                "\U516b\U6708",
                "\U4e5d\U6708",
                "\U5341\U6708",
                "\U5341\U4e00\U6708",
                "\U5341\U4e8c\U6708"
            );
        };
    };
    Model =     {
    };
}