{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                20
            ),
                        (
                3,
                4,
                34
            ),
                        (
                5,
                5,
                12
            ),
                        (
                6,
                8,
                50
            ),
                        (
                8,
                13,
                70
            ),
                        (
                9,
                16,
                35
            ),
                        (
                11,
                18,
                68
            ),
                        (
                12,
                20,
                22
            ),
                        (
                15,
                24,
                35
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708"
            );
            RowNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708",
                "\U4e03\U6708",
                "\U516b\U6708",
                "\U4e5d\U6708",
                "\U5341\U6708",
                "\U5341\U4e00\U6708",
                "\U5341\U4e8c\U6708"
            );
        };
    };
    Model =     {
    };
}