{
    Grid =     {
        Direction = ByColumn;
        Values =         (
                        (
                1,
                2,
                0,
                30
            ),
                        (
                3,
                4,
                11,
                38
            ),
                        (
                5,
                5,
                19,
                20
            ),
                        (
                6,
                8,
                26,
                17
            ),
                        (
                8,
                13,
                33,
                24
            ),
                        (
                9,
                16,
                40,
                31
            ),
                        (
                11,
                18,
                70,
                23
            ),
                        (
                12,
                20,
                51,
                15
            ),
                        (
                15,
                24,
                40,
                6
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U533a\U57df 1",
                "\U533a\U57df 1",
                "\U533a\U57df 2",
                "\U533a\U57df 3"
            );
            RowNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708",
                "\U4e03\U6708",
                "\U516b\U6708",
                "\U4e5d\U6708",
                "\U5341\U6708",
                "\U5341\U4e00\U6708",
                "\U5341\U4e8c\U6708"
            );
        };
    };
    Model =     {
    };
}