{
    Grid =     {
        Values =         (
                        (
                17,
                26,
                53,
                96
            ),
                        (
                55,
                43,
                70,
                58
            )
        );
        "_LOCALIZABLE_" =         {
            ColumnNames =             (
                "\U56db\U6708",
                "\U4e94\U6708",
                "\U516d\U6708",
                "\U4e03\U6708"
            );
            RowNames =             (
                "\U533a\U57df 1",
                "\U533a\U57df 2"
            );
        };
    };
    Model =     {
    };
}